################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Jwt/v15/Server/sqlite3
/Jwt.Api/bin
/Jwt.Api/obj/Debug
/Jwt.Api/Properties/PublishProfiles
/Jwt.Common/bin/Debug
/Jwt.Common/obj/Debug
/Jwt.Entity/bin/Debug
/Jwt.Entity/obj/Debug
/Jwt.IoC/bin/Debug
/Jwt.IoC/obj/Debug
/Jwt.Repository/bin/Debug
/Jwt.Repository/obj/Debug
/Jwt.Service/bin/Debug
/Jwt.Service/obj/Debug
/Jwt.Service.Api/bin/Debug
/Jwt.Service.Api/obj/Debug
/Jwt.Service.Domain/bin/Debug
/Jwt.Service.Domain/obj/Debug
/packages
/Jwt.Common/Jwt.Common.csproj.user
/Jwt.Entity/Jwt.Entity.csproj.user
/Jwt.IoC/Jwt.IoC.csproj.user
/.vs/Jwt/v15/.suo
/Jwt.Repository/Jwt.Repository.csproj.user
/Jwt.Service/Jwt.Service.csproj.user
/Jwt.Service.Api/Jwt.Service.Api.csproj.user
/Jwt.Service.Domain/Jwt.Service.Domain.csproj.user
/Jwt.Api/connectionStrings.local.config
/.vs
/Jwt.Service.Domain/obj/Release
/Jwt.Service.Api/obj/Release
/Jwt.Service/obj/Release
/Jwt.Repository/obj/Release
/Jwt.IoC/obj/Release
/Jwt.Entity/obj/Release
/Jwt.Common/obj/Release
/Jwt.Api/connectionStrings.Ignore.config
/Jwt.Api/obj/Release
/Jwt.Common/bin/Release
/Jwt.IoC/bin/Release
/Jwt.Entity/bin/Release
/Jwt.Repository/bin/Release
/Jwt.Service/bin/Release
/Jwt.Service.Api/bin/Release
/Jwt.Service.Domain/bin/Release
